/* .App1{
    border: 5px solid black;
    color: white;
    font-size: large;
    width: 1000px;
    height: 400px;
    background-color: green;
    margin-left:10% ;
    text-align: center;
  }
.Child{
    border: 5px solid yellow;
    width: 800px;
    color: red;
    font-size: 25px;
    height: 250px;
    background-color: yellowgreen;
    margin-left:10% ;
    border-radius: 25px;
    text-align: center;
  }
.Child1{
    border: 5px solid blue;
    width: 600px;
    color: black;
    height: 150px;
    background-color: yellow;
    margin-left:10% ;
    margin-top:3% ;
    text-align: center;
  } */